[submodule "PythonForHumanities"]
	path = PythonForHumanities
	url = https://github.com/lopentu/PythonForHumanities
[submodule "assets/reveal.js"]
	path = assets/reveal.js
	url = https://github.com/hakimel/reveal.js
[submodule "CorpusLinguistics"]
	path = CorpusLinguistics
	url = https://github.com/lopentu/CorpusLinguistics.git
